<section class="team-1">
  <div class="container">
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide carousel-team">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/kareya-saleh.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h3 class="card-title display-3">Frontend</h3>
                    <div class="lead">
                      Our Frontend is built as a <strong>Single Page Application</strong> with <strong>React</strong> and <strong>TypeScript</strong> and is bundled via <strong>Webpack</strong> and <strong>Babel</strong>.<br />
                      We make heavy use of <strong>Material-UI</strong> components and our Dialogue Builder, where our customers edit the conversation flow, is built with <strong>D3.js</strong>.<br />
                      We talk to the backend APIs via <strong>REST</strong> with the help of <strong>Axios</strong> and use <strong>OpenAPI</strong> specs to make sure we understand each other. We currently hold our data in <strong>Redux</strong> but are currently preparing the move towards <strong>GraphQL</strong> and <strong>Apollo</strong> which will replace our REST and Redux implementation soon.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/lucy.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">Backend</h1>
                    <div class="lead">
                      Our backend chapter believes in <strong>micro-services</strong> allowing us to scale up our system as freely as possible. The main flavor of our services in <strong>Node.Js</strong> and <strong>Typescript</strong>. For our persistence storage we chose <strong>MongoDB</strong> and use <strong>Elasticsearch</strong> to search through large volumes of data quickly.<br />
                      All services communicate with HTTP requests following <strong>REST</strong> practices and we are working on introducing a <strong>GraphQL</strong> API gateway.<br />
                      Leveraging real time streaming to ElasticSearch, aggregate caches and future GraphQL API gateway we are always on a lookout for performance increase.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/willy-dade.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">Machine Learning</h1>
                    <div class="lead">
                      We use the <strong>Tensorflow</strong> machine learning framework for creating AI models
                      and the model trainings are performed on our own model training system utilising
                      dynamically provisioned <strong>Google Cloud</strong> VMs and <strong>Redis</strong> queues.
                      This allows us to run concurrent AI model trainings without tackling scalability issues.<br />
                      In addition to that, we have many <strong>Python</strong>-based <strong>micro-services</strong> using
                      <strong>Tornado</strong> and <strong>Flask</strong> frameworks.<br />
                      Besides essential AI functions like training and inferencing, our machine learning stack includes
                      auxiliary functions for search where we make use of <strong>ElasticSearch</strong>.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/lucy.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">DevOps</h1>
                    <div class="lead">
                      Our Platform Engineering team strives towards improving efficiency and resiliency of the platform
                      by leveraging Infrastructure as code, creating self service platforms and eliminating toil. We help
                      developers build resilient, robust and highly scalable micro-services and deliver infrastructure
                      for enabling highly reliable applications and rapid development.<br />
                      All of our workloads are containerized and we run them on top of our swarm clusters hosted on
                      Google Cloud. Our CI/CD pipelines run on bitbucket. We use ELK stack for logging and grafana/moira for
                      monitoring and alerts. We are now actively migrating to kubernetes.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/willy-dade.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">AI Research</h1>
                    <div class="lead">
                      AI research uses a wide variety of technologies, libraries and models to find the best solution
                      for our business problems. The core tech stack is the same as in machine learning (Tensorflow, Python
                      data science stack) and part of the code base used for our experiments is the actual production code.<br />
                      The team is not limited in what technologies to explore, instead we are
                      interested in the results and in getting our hypotheses tested quickly. We decide on technologies
                      independently but also discuss them in the team and with machine learning engineers
                      to ensure continuity in research and compatibility of the production implementation.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="ni ni-bold-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="ni ni-bold-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>