
<div class="fullWidth featured">
    <div class="container image-container">
        <img src="/assets/img/brand/hp.svg" alt="" class="visual-background-connector" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for post in site.posts limit:1 %}

                <div class="card card-blog card-plain blog-horizontal mt-5 mb-5">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div>
                                <h3 class="card-title">
                                    {% if post.layout == "podcast" %}
                                    <a class="card-title-link" target="_blank" href="{{ post.link }}">{{ post.title }}</a>
                                    {% else %}
                                    <a class="card-title-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                                    {% endif %}
                                </h3>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            {% for author in site.data.settings.authors %}
                                            {% if post.author == author[1].name %}
                                            <div class="author">
                                                <img src=" {{author[1].picture | relative_url}}" alt="..." class="avatar img-raised">
                                                <div class="text">
                                                    <span class="name">{{author[1].name}}</span>
                                                    <div class="meta">{{{author[1].role }}</div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-lg-4">
                                            <p class="date">{{post.date | date: "%b %Y"}}</p>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-description">
                                    {{ post.description }}
                                </p>
                                {% if post.layout == "podcast" %}
                                <a class="main-cta" target="_blank" href="{{ post.link }}"> Listen to the Podcast </a>
                                {% else %}
                                <a class="main-cta" href="{{ post.url | relative_url }}"> Read More </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card-image">
                                {% if post.layout == "podcast" %}
                                <a target="_blank" href="{{ post.link }}">
                                    <img class="img rounded" src="{{ post.preview_image | relative_url }}">
                                </a>
                                {% else %}
                                <a href="{{ post.url | relative_url }}">
                                    <img class="img rounded" src="{{ post.preview_image | relative_url }}">
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>