
<div class="fullWidth featured">
    <div class="container image-container">
            <img src="/assets/img/brand/hp.svg" alt="" class="visual-background-connector" />
    </div>
    <div class="fullWidth blurredBar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="barText">The latest article from our Tech Blog</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for post in site.posts limit:1 %}

                <div class="card card-blog card-plain blog-horizontal mt-5 mb-5">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div>
                                <h3 class="card-title">
                                    <a class="card-title-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                                </h3>
                                {% for author in site.data.settings.authors %}
                                    {% if post.author == author[1].name %}
                                    <div class="author">
                                        <img src=" {{author[1].picture | relative_url}}" alt="..." class="avatar img-raised">
                                        <div class="text">
                                            <span class="name">{{author[1].name}}</span>
                                            <div class="meta">{{{author[1].role }}</div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                <p class="card-description">
                                    {{ post.description }}
                                </p>
                                <a class="main-cta" href="{{ post.url | relative_url }}"> Read More </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card-image">
                                <a href="{{ post.url | relative_url }}">
                                    <img class="img rounded" src="{{ post.featured_image | relative_url }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="fullWidth blurredBar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="barText"><a href="{{ site.baseurl }}/blog" class="callToAction">Explore the blog</a></span>
                </div>
            </div>
        </div>
    </div>
</div>