<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h3 class="display-3">Your Career Path at Ultimate.</h3>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <p>Career progression has many forms and is a unique journey for everyone. However there are some common patterns in the career paths that help us define a career progression framework.</p>
        <!-- Trigger modal -->
        <img class="trigger-modal" src="/assets/img/pages/career_career-paths.jpg" data-toggle="modal" data-target="#careerPathsModal">
        <p>In the RnD department we have 3 career paths in Engineering and 2 career paths in Product Management and Product Design allowing you to focus on your strengths and growing in the direction that fits you.</p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4">
        <p class="bold">Individual Contributor</p>
        <p>As an Individual Contributor you focus on solving problems in your Squad or Tribe. This career path is often referred to as the maker path and the right choice for everyone who wants to be very hands-on.</p>
        <p>Questions you should ask yourself to see if that path is right for you:<br />
          "Do I want to build bigger and better systems and processes?"<br />
          "Do I want to become a thought leader/specialist in my role?"
        </p>
      </div>
      <div class="col-md-4">
        <p class="bold">Technical Leadership</p>
        <p>As a Chapter Lead you take responsibility for the technical direction of your chapter, ensure alignment and facilitate the decision making process. You are less hands-on on a day-to-day basis.</p>
        <p>Questions you should ask yourself to see if that path is right for you:<br />
          "Do I want to focuses on the technical growth of my team members and the system?"<br />
          "Do I want to focus on alignment of the technical direction?"
        </p>
      </div>
      <div class="col-md-4">
        <p class="bold">Management</p>
        <p>On the Management path you act as a coach to your team(s), helping them to perform at their highest level and you are the people manager for the individual contributors in your team. </p>
        <p>Questions you should ask yourself to see if that path is right for you:<br />
          "Do I want to manage bigger and better teams?"<br />
          "Do I want to focus on team organisation and helping people progress in the business?"
        </p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <p>There are 7 Seniority Levels in total across the different Career Paths ranging from from Junior to C-Level. Clearly defined expectations for each level and a Skills & Competency Matrix for each ensures you always know what is expected of you and what you can expect of others.</p>
        <p>Compensation and titles are tied to each level, meaning <span class="bold">equal pay</span> within one level no matter which career path you choose.</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="careerPathsModal" tabindex="-1" role="dialog" aria-labelledby="careerPathsModal" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Career Paths in RnD</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="/assets/img/pages/career_career-paths.jpg">
      </div>
    </div>
  </div>
</div>