


<div class="fullWidth featured">
    <div class="container image-container">
        <img src="/assets/img/brand/hp.svg" alt="" class="visual-background-connector" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for quote in site.data.employee_quotes.quotes limit:1 %}

                <div class="card card-blog card-plain blog-horizontal mt-5 mb-5">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div>
                                <p class="card-description">
                                    {{ quote[1].quote }}
                                </p>
                                <p class="card-description">
                                    {{ quote[1].name }}
                                    <br />
                                    {{ quote[1].role }}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card-image">
                                    <img class="img rounded" src="{{ quote[1].picture }}">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>