<div class="fullWidth featured quote">
    <div class="fullWidth blurredBar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="barText">What do you like about working at Ultimate?</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="carouselEmployeeQuotes" class="carousel slide">
                    <div class="carousel-inner">
                        {% for quote in site.data.employee_quotes.quotes limit:10 %}
                        {% if forloop.index == 1 %}
                        <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                        {% endif %}
                            <div class="card card-blog card-plain blog-horizontal mt-5 mb-5">
                                <div class="row align-items-center">
                                    <div class="col-lg-8 col-md-8">
                                        <div>
                                            <p class="quote">
                                                {{ quote[1].quote }}
                                            </p>
                                            <p class="card-description mb-0">
                                                {{ quote[1].name }}
                                                <br />
                                                {{ quote[1].role }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="card-image">
                                            <img class="img rounded" src="{{ quote[1].picture }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                        <div class="fullWidth blurredBar">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 carousel-conttol-bar">
                                        <span class="barText">
                                            <a class="carousel-control-prev" href="#carouselEmployeeQuotes" role="button" data-slide="prev">
                                                <i class="ni ni-bold-left"></i>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselEmployeeQuotes" role="button" data-slide="next">
                                                <i class="ni ni-bold-right"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>