<script src="https://scripts.teamtailor-cdn.com/widgets/production/jobs.js" async
        charset="utf-8"></script>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h3 class="display-3">Open Positions in RnD</h3>
                <p class="lead">Join a world-class team of makers, thinkers and doers and help change the way people work with artificial intelligence forever. Explore our open positions below.</p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="teamtailor-jobs-widget_wrapper">
                    <!-- CONNECT -->
                    <div class="teamtailor-connect">
                        <a class="teamtailor-jobs__job-title" href="https://careers.ultimate.ai/connect" target="_blank">Connect</a>
                        <span class="teamtailor-jobs__job-info">Subscribe to be the first to know about new job openings.</span>
                    </div>
                    <!-- ENGINEERING -->
                    <div class="teamtailor-jobs-widget" data-teamtailor-limit="20"
                         data-teamtailor-pagination="false"
                         data-teamtailor-popup="true"
                         data-teamtailor-department="86164"
                         data-teamtailor-api-key="_5xbq5UPpetu2q539k9xSdnDLFmrOoWi_YgFDdnm"></div>
                    <!-- AI -->
                    <div class="teamtailor-jobs-widget" data-teamtailor-limit="20"
                         data-teamtailor-popup="true"
                         data-teamtailor-department="49028"
                         data-teamtailor-api-key="_5xbq5UPpetu2q539k9xSdnDLFmrOoWi_YgFDdnm"></div>
                    <!-- PRODUCT -->
                    <div class="teamtailor-jobs-widget" data-teamtailor-limit="20"
                         data-teamtailor-popup="true" data-teamtailor-department="46870"
                         data-teamtailor-api-key="_5xbq5UPpetu2q539k9xSdnDLFmrOoWi_YgFDdnm"></div>
                </div>

            </div>
        </div>
    </div>

</div>
    