<script src="https://scripts.teamtailor-cdn.com/widgets/production/jobs.js" async
        charset="utf-8"></script>

<div class="section features-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h3 class="display-3">Open Positions</h3>
            </div>
        </div>
    </div>
</div>
<div class="teamtailor-jobs-widget_wrapper">
    <!-- ENGINEERING -->
    <div
        class="teamtailor-jobs-widget" data-teamtailor-limit="20"
        data-teamtailor-pagination="false"
        data-teamtailor-popup="true"
        data-teamtailor-department="86164"
        data-teamtailor-api-key="_5xbq5UPpetu2q539k9xSdnDLFmrOoWi_YgFDdnm"></div>
    <!-- AI -->
    <div
        class="teamtailor-jobs-widget" data-teamtailor-limit="20"
        data-teamtailor-popup="true"
        data-teamtailor-department="49028"
        data-teamtailor-api-key="_5xbq5UPpetu2q539k9xSdnDLFmrOoWi_YgFDdnm"></div>
</div>
    