<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h3 class="display-3">Continuous Feedback and Personal Growth</h3>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <p>At Ultimate we follow the principle of continuous feedback to ensure a high level of transparency.</p>
        <p>Next to that there is a more formal personal growth conversation with your manager every quarter. In those conversations you will talk about the feedback you have gotten, goals you want to achieve and create a personal development plan to help you achieve them.</p>
        <p>Your manager will support and coach you where necessary to help you on your career path.</p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <p class="bold">Peer Feedback</p>
        <p>Feedback from your peers plays an important role in your growth at Ultimate. It helps you to understand how your work and behaviour is perceived by your colleagues, lets you detect areas for development and can uncover skill areas that you haven’t been aware of yet.</p>
      </div>
    </div>
  </div>
</div>