<div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <h3 class="display-3">Why Work For Us?</h3>
          <p>Good question, there are lots of SaaS companies competing to attract the very best engineers, so what can we offer you that’s different? Why should you trust us with your career? How can you ensure we’re the right place for you?</p>
          <p>Well, transparency is one of our key principles, so please read below from some of our wonderful team members why they joined and hopefully it’ll resonate with you too.</p>
        </div>
      </div>

        <div class="row">
            <div id="carouselExampleControls" class="carousel slide carousel-team">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 p-5">
                                    <img class="rounded" src="{{ '/assets/img/faces/faces_simon.jpeg' | relative_url }}" alt="Simon Munch-Andersen">
                                </div>
                                <div class="col-md-7">
                                    <div class="wrapper p-md-0">
                                        <div>
                                            <p class="lead">With a unique high level of trust and autonomy, you’ll operate within one of the greatest engineering and product teams, to build the leading AI power."</p>
                                            <p class="description opacity-8">
                                            Simon Munch-Andersen, Chief Technology Officer
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 p-5">
                                    <img class="rounded" src="{{ '/assets/img/faces/faces_andrada.jpg' | relative_url }}" alt="Andrada Pumnea">
                                </div>
                                <div class="col-md-7">
                                    <div class="wrapper p-md-0">
                                        <div>
                                            <p class="lead">
                                                "Genuinely nice people and challenging technical problems inspire me to show up everyday and deliver my best work. Ultimate deeply cares about the people, finely crafted software and our customers."
                                            </p>
                                            <p class="description opacity-8">
                                                Andrada Pumnea, Machine Learning Engineer
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 p-5">
                                    <img class="rounded" src="{{ '/assets/img/faces/faces_mohamed.jpeg' | relative_url }}" alt="Mohamed Abdelazim">
                                </div>
                                <div class="col-md-7">
                                    <div class="wrapper p-md-0">
                                        <div>
                                            <p class="lead">
                                            "The best thing for me about working here is the people. I've met some of the brightest minds here, but also the most fun individuals! The team is also very diverse owing to the remote-friendly environment, but I also like that we have lovely offices in multiple places. The product is growing rapidly as well, which means there are interesting problems to solve, and lots of growth opportunities."
                                            </p>
                                            <p class="description opacity-8">
                                                Mohamed Abdelazim, Senior Backend Engineer
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 p-5">
                                        <img class="rounded" src="{{ '/assets/img/faces/faces_aly.jpg' | relative_url }}" alt="Aly Seoudi, Frontend Engineer">
                                </div>
                                <div class="col-md-7">
                                    <div class="wrapper p-md-0">
                                        <div>
                                            <p class="lead">
                                            “Ultimate is a great environment where your work is truly appreciated and valued. This, together with the open and honest communication that is always encouraged, is why I joined and keeps me here today.”
                                            </p>
                                            <p class="description opacity-8">Aly Seoudi, Frontend Engineer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <i class="ni ni-bold-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <i class="ni ni-bold-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
  </div>
