---
layout: default
type: blogListing
title: Blog
subtitle: The latest posts from our blog
description: My random thoughts...
featured_image: /assets/img/brand/DSC07576-Edit.jpg
---

{% if site.data.settings.blog_settings.theme == "narrow" %}
<div class="page-header page-header-mini bg-secondary fullWidth blog-mini-header header-filter" style="background-image: url({{ page.featured_image | relative_url }})">
    <div class="container contentWrapper">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center pt-4">
          <h2 class="display-2">{{ page.title }}</h2>
          <h2 class="lead pl-5 pr-5 pb-3 text-center">{{page.subtitle}}</h2>
        </div>
      </div>
    </div>
  </div>

    <section class="blog contentWrapper main-raised">
        {% include blogs.html %}
    </section>

{% endif %}

{% if site.data.settings.blog_settings.theme == "basic" %}
<div class="page-header page-header-mini bg-secondary fullWidth blog-mini-header header-filter" style="background-image: url({{ page.featured_image | relative_url }})">
    <div class="container contentWrapper">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center pt-4">
          <h2 class="display-2">{{ page.title }}</h2>
          <h2 class="lead pl-5 pr-5 pb-3 text-center">{{page.subtitle}}</h2>
        </div>
      </div>
    </div>
  </div>

    <section class="blog mt-5">
        {% include blogs.html %}
    </section>

{% endif %}

{% if site.data.settings.blog_settings.theme == "grid" %}
<div class="page-header page-header-mini bg-secondary fullWidth blog-mini-header header-filter">
    <div class="container contentWrapper">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center pt-4">
          <h2 class="display-2">{{ page.title }}</h2>
          <h2 class="lead pl-5 pr-5 pb-3 text-center">{{page.subtitle}}</h2>
        </div>
      </div>
    </div>
  </div>

    <section class="blog">
        {% include blogs.html %}
    </section>

{% endif %}


