// Bootstrap Functions
@import "teamtailor-widget";

@font-face {
    font-family: 'manrope';
    src: url('/assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page-header {
    h2 {
        color: $secondary;
    }
    &.page-header-mini {
        min-height: 280px;
        max-height: 280px;
    }
}

.icon-shape-default {
    background: $default;
    color: $white;
}



.header-1 {
    max-height: 900px;
    & .page-header {
        height: 100vh;
        max-height: 800px;
        & > .container {
            // padding-top: 0;
        }
        & .home-header-image {
            background-size: 660px;
            background-position: right 0 top 84px;
        }
    }
}
