// Bootstrap Functions
@import "teamtailor-widget";
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@font-face {
    font-family: 'manrope';
    src: url('/assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

.highlight pre code {
    font-family: 'Fira Code', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-weight: 350;
}

@supports (font-variation-settings: normal) {
    .highlight pre code {
        font-family: 'Fira Code VF', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
        font-weight: 350;
    }
}


.page-header {
    h2 {
        color: $secondary;
    }
    &.page-header-mini {
        min-height: 280px;
        max-height: 280px;
    }
}

.icon-shape-default {
    background: $default;
    color: $white;
}


.carousel {
    &.carousel-team {
        &.slide {
            margin: 0 0 100px;
        }
    }
}



.header-1 {
    max-height: 900px;
    & .page-header {
        height: 100vh;
        max-height: 800px;
        & > .container {
            padding-top: 280px;
        }
        & .home-header-image {
            background-size: 660px;
            background-position: right 0 top 84px;
        }
    }
}

.carousel-team .carousel-control-prev {
    top: 30%;
    left: 0% !important;
}

.carousel-team .carousel-control-next {
    top: 30%;
    left: 100% !important;
}

.btn-primary {
    background: $black;
    border: none;
    height: 48px;
    font-size: $font-size-sm;
    font-weight: 500;
    border-radius: 100px;
    padding: 12px 28px;
    text-transform: none;
}

@media (min-width: 991.98px) {
    .header-1 .page-header {
        height: 200vh;
        max-height: none;
    }
}

@media (max-width: 991.98px) {
    section.team-1 {
        display: none;
    }
    .header-1 .page-header {
        height: 100vh;
        max-height: 800px;
    }
}
