// Bootstrap Functions
@import "teamtailor-widget";
@import "featured-post";
@import "blog-post-layout";
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@font-face {
    font-family: 'manrope';
    src: url('/assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

body {
    color: $primaryText;
}
h1, h2, h3, h4, h5, h6 {
    color: $default;
}
blockquote {
    margin: 0 0 1rem 0;
    padding: 1rem 2rem 0.5rem 2rem;
    background-image: linear-gradient(82.6deg,#e7f7f0,#e6f4fd 101.55%);
    border-radius: 8px;
}

// Simple code highlight if nothing specific is defined for a codeblock
.highlight{
    .hll { background-color: #e6f4fd }
    .c { color: #5EC99B } /* Comment */
    .err { border: 1px solid #F75971 } /* Error */
    .k { color: #5D5ADC } /* Keyword */
    .cm { color: #5EC99B } /* Comment.Multiline */
    .cp { color: #5D5ADC } /* Comment.Preproc */
    .c1 { color: #5EC99B } /* Comment.Single */
    .cs { color: #5EC99B } /* Comment.Special */
    .ge { font-style: italic } /* Generic.Emph */
    .gh { font-weight: bold } /* Generic.Heading */
    .gp { font-weight: bold } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { font-weight: bold } /* Generic.Subheading */
    .kc { color: #5D5ADC } /* Keyword.Constant */
    .kd { color: #5D5ADC } /* Keyword.Declaration */
    .kn { color: #5D5ADC } /* Keyword.Namespace */
    .kp { color: #5D5ADC } /* Keyword.Pseudo */
    .kr { color: #5D5ADC } /* Keyword.Reserved */
    .kt { color: #59B5F3 } /* Keyword.Type */
    .s { color: #F75971 } /* Literal.String */
    .nc { color: #59B5F3 } /* Name.Class */
    .ow { color: #5D5ADC } /* Operator.Word */
    .sb { color: #F75971 } /* Literal.String.Backtick */
    .sc { color: #F75971 } /* Literal.String.Char */
    .sd { color: #F75971 } /* Literal.String.Doc */
    .s2 { color: #F75971 } /* Literal.String.Double */
    .se { color: #F75971 } /* Literal.String.Escape */
    .sh { color: #F75971 } /* Literal.String.Heredoc */
    .si { color: #F75971 } /* Literal.String.Interpol */
    .sx { color: #F75971 } /* Literal.String.Other */
    .sr { color: #F75971 } /* Literal.String.Regex */
    .s1 { color: #F75971 } /* Literal.String.Single */
    .ss { color: #F75971 } /* Literal.String.Symbol */
    pre code {
        font-family: 'Fira Code', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
        font-weight: 350;
    }
}

@supports (font-variation-settings: normal) {
    .highlight pre code {
        font-family: 'Fira Code VF', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
        font-weight: 350;
    }
}

.page-header {
    h2 {
        color: $secondary;
    }
    &.page-header-mini {
        min-height: 280px;
        max-height: 280px;
    }
}

.page.wrapper {
    height: auto;
    min-height: calc(100vh - 175px);
}

.icon-shape-default {
    background: $default;
    color: $white;
}

.carousel {
    &.carousel-team {
        &.slide {
            margin: 0 0 100px;
        }
    }
}



.header-1 {
    max-height: 900px;
    & .page-header {
        height: 100vh;
        max-height: 800px;
        & > .container {
            padding-top: 280px;
        }
        & .home-header-image {
            background-size: 660px;
            background-position: right 0 top 84px;
        }
    }
}

.carousel-team .carousel-control-prev {
    top: 30%;
    left: 0% !important;
}

.carousel-team .carousel-control-next {
    top: 30%;
    left: 100% !important;
}

.btn-primary {
    background: $black;
    border: none;
    height: 48px;
    font-size: $font-size-sm;
    font-weight: 500;
    border-radius: 100px;
    padding: 12px 28px;
    text-transform: none;
}

.blog-mini-header {
    background-size: cover;
    background-position: bottom right;
    background-repeat: none;
}

@media (min-width: 991.98px) {
    .header-1 .page-header {
        height: 200vh;
        max-height: none;
    }
}

@media (max-width: 991.98px) {
    section.team-1 {
        display: none;
    }
    .header-1 .page-header {
        height: 100vh;
        max-height: 800px;
    }
}
