.blog-post-layout {
  .author-container {
    position: relative;

    .author-content {
      position: absolute;
      z-index: 1;
    }
  }

  .featured {
    margin-top: 29px;
    position: relative;

    .featured-spacer {
      height: 110px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
  }

  strong {
    font-weight: 600;
  }

  li {
    font-weight: 300;
  }

  .table thead th {
    color: $default;
    font-weight: 500;
    font-size: 1rem;
  }

  .table tbody td {
    color: $default;
    font-weight: 300;
    font-size: 1rem;
  }

  code {
    color: $default;
    background-color: #e6f4fd;
  }

  .highlight {
    background-color: #e6f4fd;
    border-radius: 8px;

    pre code {
      color: $default;
    }
  }

  img {
    border-radius: 8px;
  }
  .text-center {
    text-align: center;
  }
  .border-image {
    img {
      border: 1px solid $secondaryText;
    }
  }
  .img-description {
    text-align: center;
    color: $secondaryText;
  }



}