.blog-post-layout {
  .author-container {
    position: relative;

    .author-content {
      position: absolute;
      z-index: 1;
    }
  }

  .featured {
    margin-top: 29px;
    background-image: linear-gradient(82.6deg, #e6f4fd, #e7e6fa 101.55%);
    position: relative;

    .featured-spacer {
      height: 80px;
    }
  }

  blockquote {
    margin: 0 0 1rem 0;
    padding: 1rem 2rem 0.5rem 2rem;
    background-image: linear-gradient(82.6deg,#e7f7f0,#e6f4fd 101.55%);
    border-radius: 8px;
  }

  li {
    font-weight: 300;
  }
}