<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h3 class="display-3">Get to know the RnD Team</h3>
                <p class="lead">Finnish born, German raised, going global</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4">
                <p>We’ve come a long way from our Helsinki hackathon roots. But customer success is
                    still our north star — and putting people at the heart of everything we do keeps
                    us on the right track.
                </p>
                <p>
                    As well as building cutting-edge AI technology to solve support’s greatest problems,
                    we take pride in building an inclusive company culture that fosters belonging.
                </p>
                <p>
                    Learn more about our product, team setup and the values that guide us
                    <a href="/about" title="About us" class="callToAction">here</a>
                </p>
            </div>
        </div>
    </div>
</div>
