<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h3 class="display-3">AI Team</h3>
                <p class="lead">Our mission is to empower product teams to use cutting-edge AI to solve
                    their most challenging problems. We make it simple for product teams to adopt and
                    consume our AI services, so they can focus on what they do best: building great
                    products.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <p class="bold">AI Researchers</p>
                <p>AI researchers work closely with Product managers to understand the problems and
                    challenges of our product and then with Machine Learning Engineers to define the
                    problem that the AI model is trying to solve.
                </p>
                <p>AI researchers develop new algorithms and approaches, and Machine Learning Engineers
                    engineers implement those algorithms in production.
                </p>
            </div>

            <div class="col-md-4">
                <p class="bold">Machine Learning Engineers</p>
                <p>Machine Learning Engineers are responsible for building and maintaining the
                    infrastructure and applications that power our artificial intelligence (AI) systems.
                </p>
                <p> They follow best practices to build a stable and reliable AI/ML platform.
                </p>
            </div>

            <div class="col-md-4">
                <p class="bold">Applied AI Engineers</p>
                <p>The need for an Applied AI engineer arises from the challenges and time-consuming
                    nature of integrating AI solutions into products.
                </p>
                <p>An applied AI engineer is
                    well-versed in both AI research and ML engineering, and can therefore take over
                    smaller AI projects and improvements, working on research and bringing the
                    implementation to production and thereby reducing the time it takes to bring AI
                    solutions to production.
                </p>
            </div>

        </div>
    </div>
</div>
