<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h3 class="display-3">Engineering Chapters</h3>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <p class="bold">Frontend</p>
                <p>We build the single page application that our clients use in order to create and
                    manage bots and design conversation flows. We provide a no-code solutions for our
                    customers to integrate their systems and build a widget for end customers to interact
                    with the bots.
                </p>
                <p>We iterate quickly and improve based on input from our developers and with the help
                    of customer feedback.

                </p>
            </div>

            <div class="col-md-4">
                <p class="bold">Backend</p>
                <p>
                    We strive to take a modern and pragmatic approach to system design, aiming for
                    loosely coupled solutions that scale. Our backend chapter believes in microservices
                    and being able to scale up our system as freely as possible.
                </p>
                <p>
                    A large part of what we want to be able to do is to search through large
                    volumes of data quickly.
                </p>
            </div>

            <div class="col-md-4">
                <p class="bold">Data Engineering</p>
                <p>We are responsible for building end to end data pipelines which serve the data
                    analytics systems. We process this data based on predefined business rules and
                    input this data into our data warehousing system.
                </p>
                <p>We also work closely with the AI Research team, providing them with the
                    data they need to experiment with new AI models.
                </p>
            </div>

        </div>
    </div>
</div>

