<div class="fullWidth featured">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="mt-4 mb-4">
                    <img class="img rounded" src="/assets/img/pages/about-us_banner-1.jpg">
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="mt-4 mb-4">
                    <img class="img rounded" src="/assets/img/pages/about-us_banner-2.jpg">
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="mt-4 mb-4">
                    <img class="img rounded" src="/assets/img/pages/about-us_banner-5.jpg">
                </div>
            </div>
        </div>
    </div>
</div>