<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="display-3">Leadership</h3>
                <p>Our CTO, <a href="https://www.linkedin.com/in/simonma/" target="_blank" title="Simon on LinkedIn">Simon</a> runs our Engineering Organisation. He joined our team with years of experience after being a CTO at Clue & Travel Audience.</p>
                <p>Our Chief Science Officer, <a href="https://www.linkedin.com/in/jaakko-pasanen-8a87a398/" target="_blank" title="Jaakko on LinkedIn">Jaakko</a> is one of the co-founders of Ultimate and has been the brains behind our AI since back then! He leads our AI Research Team.</p>
                <p>Our VP of Product, <a href="https://www.linkedin.com/in/udimiron/" target="_blank" title="Udi on LinkedIn">Udi</a> and his companion Bagel the Beagle, along with a talented team of Product experts, are the conduit between our Engineering and GTM teams and our customers.</p>
            </div>
        </div>
    </div>
</div>
