<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h3 class="display-3">Platform Tribe</h3>
                <p class="lead">Our Platform Engineering Tribe consists of three squads: Quality Engineering,
                    Developer Experience & Cloud Infrastructure.<br />Though each squad has its own
                    responsibilities, we have the collective goal to provide efficient ways for our
                    product teams to function to the best of their ability by correctly utilising the
                    tools at their disposal. This helps them to push features more effectively so
                    they’re not blocked by any platform related issues.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <p class="bold">Quality Engineering</p>
                <p>From software design, through to pushing code in Github,
                    we maintain standards and checklists which our developers need to follow to make
                    sure the work being produced is of a high calibre. Thus making sure that the
                    quality of product we deliver to our clients is maintained at a high level.
                </p>
            </div>

            <div class="col-md-4">
                <p class="bold">Developer Experience</p>
                <p>We believe that developers should be able to work efficiently and find the tools they
                    need without hindrance. As a squad, we exist to understand the frustrations
                    developers encounter and help them make their work life & collaboration easier and
                    more efficient by providing solutions that reduce cognitive load.
                </p>
            </div>

            <div class="col-md-4">
                <p class="bold">Cloud Infrastructure</p>
                <p>We are responsible for maintaining and scaling out infrastructure. We take care
                    of the core services which enable us to run our services and make sure that if
                    applications are deployed, nothing goes wrong.
                </p>
            </div>

        </div>
    </div>
</div>

