<div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3 class="display-3">What we do - The Ultimate Product</h3>
          <p>We create AI automation solutions for leading brands across all digital support channels. In other words, we help customer support teams build anything from automated email triage to customer self-service options and 24/7 chat support.</p>
          <p>Our AI is industry-leading and we’re trusted by big-name brands, from Gorillas to GetYourGuide and Zalando to Zendesk.</p>
            <p>For our customers, this means building deeper connections with their customers. Automating repetitive requests not only saves businesses time and money, but frees up their human agents to focus on more complex interactions.</p>
        </div>
        <div class="col-md-4">
          <img class="rounded" src="{{ '/assets/img/pages/about-us_product.png' | relative_url }}" alt="Ultimate - Product">
        </div>
      </div>
    </div>
  </div>
