<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h3 class="display-3">Product Teams</h3>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <p class="bold">Product Management</p>
                <p>We are responsible for getting closer to the customers and understanding their
                    problems. We bridge the gap between our business values and customer values.
                    We facilitate thought processes across departments to align on certain topics and
                    new ideas and are able to give direction and enable them to sell what we ship.
                </p>
                <p>
                    On a day to day basis, we conduct data analysis, customer interviews and
                    collaborate within the squads. We have an overarching vision, however, we all
                    work to specific roadmaps within each squads and chapters. We collaborate with all
                    teams: Sales, Customer Success, CRM, BI, Analytics and Engineering.
                </p>
            </div>

            <div class="col-md-6">
                <p class="bold">Product Design</p>
                <p>We are ultimately responsible for the user experience that our clients interact with
                    when using our product, whether it’s about to creating bots, managing their team or
                    improving the chat experience. This responsibility is shared with the squad
                    (the full-stack team focused on a specific area within our product) but as
                    designers we represent the user and their needs.
                </p>
                <p>
                    We work in close collaboration with Product Managers and with design peers. During
                    this work we leverage quantitative and qualitative data to identify and validate
                    new ideas. Apart from being a key member of one of our squads, the designer is
                    also working closely with their peers in the Design Team driving topics forward
                    such as UX pattern improvements, processes, design critiques and much more.
                </p>
            </div>

        </div>
    </div>
</div>

