<div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="display-3">What we do - the Ultimate Product</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <p>We offer automated customer support for leading brands across all their digital support channels. In other words, we help customer support teams build anything from automated email triage to customer self-service options and 24/7 chat support.</p>
          <p>Our AI is industry-leading, our platform is no-code, and our team is here to guide our customers through the world of conversational AI to a successful launch in under 3 weeks.</p>
            <p>For our customers, this means building deeper connections with their customers. Automating repetitive requests not only saves businesses time and money, but frees up their human agents to focus on more complex interactions that require empathy and a human touch.</p>
        </div>
        <div class="col-md-5">
          <img class="rounded" src="{{ '/assets/img/pages/about_product.png' | relative_url }}" alt="Ultimate - Product">
        </div>
      </div>
    </div>
  </div>
