<div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <h3 class="display-3">Team Structure</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">

            <div>
              <p>
                Our teams in RnD are organised in a system of cross-functional teams, called Squads, and Chapters made famous by Spotify.
              </p>
              <p>Our Engineers Product Designers and Product Managers work in cross-functional teams <b>(Squads)</b> with a clear mission, owning one part of our product end to end.
                The Squads typically consist of 4-6 individual contributors (ICs) from different disciplines and are set up to be autonomous with as little dependencies to others as possible.
                With the guidance of their Squad Lead they own their processes for delivery and decide what to deliver to fulfil their mission.</p>
              <p>
                Squads working on related business areas form a <b>Tribe</b>. For example, at Ultimate this could be Virtual Agent, Analytics, Integrations or Conversations. Engineering Managers work with the Squads in their Tribe to help them deliver.
              </p>
            </div>
        </div>
        <div class="col-md-7 p-5">
          <img class="rounded" src="{{ '/assets/img/faces/ian.jpg' | relative_url }}" alt="Ian">
          <p class="description opacity-8">
            Ian, one of our Product Designers, at our Berlin office
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mx-auto">
          <p>Engineers of the same specialisation from all Squads work together in a <b>Chapter</b>. They meet on a regular basis to define the technical direction and discuss implementation. The Chapter Lead is one of the experts from that Chapter and facilitates the decision making process and makes sure our architecture is build to last.</p>
          <p>So while our Squads decide on what to do , the Chapter decides on the how.</p>
          <p>Our <b>AI Research</b> team, as well as our teams from the <b>Platform Tribe</b> like Cloud Infrastructure and Quality Engineering work closely with the cross-functional product teams enabling them to build high performing products and test and deploy their applications.</p>
        </div>
      </div>

    </div>
  </div>
