<div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <h3 class="display-3">Team Structure</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mx-auto">
          <p>
            Our teams in RnD are organised in a system of cross-functional teams, that was made famous by Spotify.
          </p>
          <!-- Trigger modal -->
          <img class="trigger-modal" src="/assets/img/pages/about-us_team-structure.jpg" data-toggle="modal" data-target="#teamStructureModal">

          <p>Our <a href="/engineering-chapters" title="Engineering Chapters">Engineers</a>, <a href="/product-teams" title="Product Teams">Product Designers</a> and <a href="/product-teams" title="Product Teams">Product Managers</a> work in cross-functional teams <b>(Squads)</b> with a clear mission, owning one part of our product end to end.
            The Squads typically consist of 4-6 individual contributors (ICs) from different disciplines and are set up to be autonomous.
            With the guidance of their Squad Lead they own their processes for delivery and decide what to deliver to fulfil their mission.</p>
          <p>
            Squads working on related business areas form a <b>Tribe</b>. Engineering Managers work with the Squads in their Tribe to help them deliver.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mx-auto">
          <p>Engineers of the same specialisation from all Squads work together in a <a href="/engineering-chapters" title="Engineering Chapters"><b>Chapter</b></a>. They meet on a regular basis to define the technical direction and discuss implementation. The Chapter Lead is one of the experts from that Chapter and facilitates the decision making process and makes sure our architecture is build to last.</p>
          <p>So while our Squads decide on what to do, the Chapter decides on the how.</p>
          <p>Our <a href="/ai-team" title="AI Team"><b>AI Team</b></a>, consisting of AI Researchers and Machine Learning Engineers, as well as our teams from the <a href="/platform-tribe" title="Platform Tribe"><b>Platform Tribe</b></a>, like Cloud Infrastructure, Developer Experience and and Quality Engineering work closely with the cross-functional product teams and enable them to build high performing products and test and deploy their applications.</p>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="teamStructureModal" tabindex="-1" role="dialog" aria-labelledby="teamStructureModal" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Team Structure</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="/assets/img/pages/about-us_team-structure.jpg">
      </div>
    </div>
  </div>
</div>
