---
layout: default
---
<div class="blog-post-layout">
  <div class="section mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto text-center pt-8">
          <h2 class="display-2">{{ page.title }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row author-container">
      <div class="col-lg-12 mx-auto text-center author-content">
        <div class="box text-center">
          {% for author in site.data.settings.authors %}
          {% if page.author == author[1].name %}
          <img src=" {{author[1].picture | relative_url}}" alt="..." class="avatar avatar-lg">
          {% endif %}
          {% endfor %}
        </div>
        {% for author in site.data.settings.authors %}
        {% if page.author == author[1].name %}
          <p class="text-center mt-2 mb-0">{{ author[1].name}}, {{author[1].role}}</p>
        {% endif %}
        {% endfor %}
        <p class="text-center mt-0 mb-2">- {{page.date | date: "%B %Y"}} -</p>
      </div>
    </div>
  </div>

  <div class="fullWidth featured quote">
    <div class="fullWidth blurredBar featured-spacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto text-center">
          <p class="lead pt-4 pb-4 text-center">{{page.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <article class="blog-post">
            {{ page.content }}
          </article>
        </div>
      </div>
    </div>
  </section>
</div>



{% if site.data.settings.blog_settings.read_more == "yes" %}
<section class="blogs-1">
  <div class="container">
    <h2 class="title mb-5">You might also like...</h2>

    {% assign psize = site.posts | size %}
    <div class="row align-items-center mb-2">

      {% for post in site.posts limit:6 %}
      <div class="{% if forloop.index == 1 or forloop.index == 6 %}col-lg-6{% else %}col-lg-3{% endif %}">
        <div class="card card-blog card-background" data-animation="zooming">
          <div class="full-background" style="background-image: url({{ post.preview_image | relative_url }})"></div>
          <a href="{{ post.url | relative_url }}">
            <div class="card-body">
              <div class="content-bottom">
                {% for author in site.data.settings.authors %}
                {% if post.author == author[1].name %}
                <h6 class="card-category text-white opacity-8">
                  {{ author[1].name}}
                </h6>
                {% endif %}
                {% endfor %}

                <h5 class="card-title">{{ post.title }}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}


